*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  position: relative;
  min-height: 100vh;
  margin-top: -5rem;
  justify-items: center;
}

main::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  background: url(../images/hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  main::before {
    background-size: contain;
    height: 100%;
  }
}

.form__container {
  position: relative;
  overflow: hidden;
  height: 70px;
}

.form__container input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 20px;
  outline: 0;
  border: 0;
  position: absolute;
  margin-left: 8px;
  margin-top: 10px;
}

.form__container label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #000;
}

.form__container label::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -1px;
  left: 0;
  border-bottom: 3px solid #5fa8d3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.form__container input:focus + .form__label .form__span-name,
.form__container input:valid + .form__label .form__span-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #5fa8d3;
}

.form__container input:focus + .form__label::after,
.form__container input:valid + .form__label::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__span-name {
  position: absolute;
  bottom: 5px;
  left: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30%;
  margin: 1.5rem;
}

.icons__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background: #0a80ec;
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
}

.icons__border:hover {
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.icons__circle {
  color: #fff;
  font-size: 1.5rem;
}

.icons--cancel {
  color: #e41a1a;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 1.5rem;
}

.loading--page {
  display: block;
  width: 100vw;
  font-size: 2rem;
  color: #e41a1a;
  text-align: center;
  margin-top: 4rem;
}

.title {
  margin-bottom: 4rem;
  text-align: center;
}

.title h3 {
  font-size: 2rem;
}

.title .underline {
  width: 6rem;
  height: 0.25rem;
  background: #5fa8d3;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background: #ebf7ff;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  color: #e41a1a;
  letter-spacing: 0.1rem;
  border-color: transparent;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.btn--delete {
  display: block;
  width: 200px;
  margin: 1rem auto 0 auto;
  color: red;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  background: transparent;
  border: 1px solid #e41a1a;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: 600;
}

.section {
  width: 90vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

.nav__logo {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-shadow: 2px 2px 4px #222;
}

.nav__logo:hover {
  font-size: 2.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav__center {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__center--link {
  display: none;
}

.nav__btn--link {
  height: 100%;
  background: transparent;
  border-color: transparent;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  width: 10rem;
}

.nav__btn--link a {
  color: #fff;
  text-shadow: 2px 2px 4px #222;
}

.nav__btn--link a:hover {
  font-size: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav__btn--sign-in {
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border-color: transparent;
  background: #222;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav__btn--sign-in a {
  font-size: 1rem;
  color: #fff;
}

.nav__btn--sign-in:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .nav__center--link {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 30vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
}

.btn--login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 80%;
  margin-top: 3.5rem;
  border-radius: 50px;
  background: linear-gradient(150deg, #00dbde, #fc00ff);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn--login:hover {
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
  -webkit-box-shadow: 2px 2px inset linear-gradient(150deg, #00dbde, #fc00ff);
          box-shadow: 2px 2px inset linear-gradient(150deg, #00dbde, #fc00ff);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.grid {
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.c-0 {
  display: none;
}

.c-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .m-0 {
    display: none;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }
  .m-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .grid.wide {
    width: 644px;
  }
}

@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .l-0 {
    display: none;
  }
  .l-1,
  .l-2,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }
  .l-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .l-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .l-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .l-o-1 {
    margin-left: 8.33333%;
  }
  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }
  .l-o-8 {
    margin-left: 66.66667%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-o-10 {
    margin-left: 83.33333%;
  }
  .l-o-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .grid.wide {
    width: 984px;
  }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .wide .l-0 {
    display: none;
  }
  .wide .l-1,
  .wide .l-2,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }
  .wide .l-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .wide .l-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .wide .l-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .wide .l-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wide .l-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .wide .l-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .wide .l-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .wide .l-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .wide .l-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .wide .l-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .wide .l-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .wide .l-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .wide .l-o-1 {
    margin-left: 8.33333%;
  }
  .wide .l-o-2 {
    margin-left: 16.66667%;
  }
  .wide .l-o-3 {
    margin-left: 25%;
  }
  .wide .l-o-4 {
    margin-left: 33.33333%;
  }
  .wide .l-o-5 {
    margin-left: 41.66667%;
  }
  .wide .l-o-6 {
    margin-left: 50%;
  }
  .wide .l-o-7 {
    margin-left: 58.33333%;
  }
  .wide .l-o-8 {
    margin-left: 66.66667%;
  }
  .wide .l-o-9 {
    margin-left: 75%;
  }
  .wide .l-o-10 {
    margin-left: 83.33333%;
  }
  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}

.home {
  position: relative;
  min-height: 100vh;
  margin-top: -5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

.home::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  background: url(../images/hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .home::before {
    background-size: contain;
    height: 100%;
  }
}

.home__container {
  width: 90vw;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .home__container {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
}

.home__info h1 {
  font-size: 5.5rem;
  text-transform: none;
  margin-bottom: 2rem;
}

.home__info p {
  max-width: 35em;
  line-height: 1.8;
}

.home__images {
  display: none;
}

@media screen and (min-width: 768px) {
  .home__images {
    display: block;
  }
}

.products {
  display: block;
  width: 100vw;
}

.products h2 {
  font-size: 4rem;
  color: #fff;
  text-align: center;
  margin-bottom: 5rem;
}

.products__container {
  width: 100vw;
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 4rem;
}

.products__item {
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.products__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.products__item a {
  height: 100%;
  display: block;
  text-align: center;
  width: 100%;
}

.products__item a img {
  width: 100%;
  height: 80%;
  background-size: cover;
  border-radius: 0.25rem 0.25rem 0 0;
}

.products__item a h5 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.sign-in {
  background-image: url(../images/bg-01.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign-in__container {
  height: 90%;
  width: 500px;
  background: #fff;
  border-radius: 1rem;
  display: block;
  position: relative;
}

.sign-in__container h3 {
  font-weight: bold;
  font-size: 3rem;
  padding: 3rem;
  width: 100%;
  text-align: center;
  display: block;
  height: 20%;
}

.sign-in__form {
  display: block;
  width: 400px;
  margin: auto;
  position: relative;
}

.sign-in__icons {
  height: 20px;
  width: 20px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.sign-in .sign-up__container {
  display: block;
  -ms-grid-rows: 1fr 1fr 2fr;
      grid-template-rows: 1fr 1fr 2fr;
  height: 35%;
  text-align: center;
}

.sign-in .sign-up__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign-in .sign-up__btn--forgot-password {
  font-size: 1rem;
  position: absolute;
  right: 0;
  padding: 1rem;
  background: transparent;
  cursor: pointer;
}

.sign-in .sign-up--account {
  font-size: 1.5rem;
  color: #5fa8d3;
  margin: 0 auto;
  cursor: pointer;
}

.sign-in .sign-up--account:hover {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), 0 0 5px #6d6de7;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.form__container {
  position: relative;
  overflow: hidden;
  height: 70px;
}

.form__container input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 20px;
  outline: 0;
  border: 0;
  position: absolute;
  margin-left: 8px;
  margin-top: 10px;
}

.form__container label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #000;
}

.form__container label::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -1px;
  left: 0;
  border-bottom: 3px solid #5fa8d3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.form__container input:focus + .form__label .form__span-name,
.form__container input:valid + .form__label .form__span-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #5fa8d3;
}

.form__container input:focus + .form__label::after,
.form__container input:valid + .form__label::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__span-name {
  position: absolute;
  bottom: 5px;
  left: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#gh {
  background: #222;
}

#gg {
  background: #d9d9d9;
}

.tours__main {
  position: relative;
  margin-top: -5rem;
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ebf7ff;
  min-height: 100vh;
}

.tours__container {
  width: 90vw;
  max-width: 620px;
}

.tour__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.tour__container footer {
  padding: 1.5rem 2rem;
}

.tour__container footer .btn--read-more {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: #49a6e9;
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.25rem;
}

.tour__container:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.tour__container img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem 0.25rem 0 0;
}

.tour__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.tour__info h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.tour__info p {
  margin-bottom: 0;
}

.tour__info--price {
  color: #49a6e9;
  background-color: #ebf7ff;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

.reviews {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #ebf7ff;
  min-height: 110vh;
  margin-top: -6rem;
}

.reviews__container {
  width: 80%;
  max-width: 620px;
}

.reviews--person {
  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-align: center;
}

.reviews--person:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.reviews__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  position: relative;
}

.reviews__image::before {
  content: '';
  width: 100%;
  height: 100%;
  background: #49a6e9;
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

.reviews__image--person {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.reviews--author {
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.reviews--job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #49a6e9;
  font-size: 0.85rem;
}

.reviews--info {
  margin-bottom: 0.75rem;
}

.reviews__icons-quote {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  background: #49a6e9;
  color: #fff;
}

.reviews .prev-btn,
.reviews .next-btn {
  color: #8bcbf9;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.reviews .prev-btn:hover,
.reviews .next-btn:hover {
  color: #49a6e9;
}

.reviews .random-btn {
  margin-top: 0.5rem;
  background: #ebf7ff;
  color: #49a6e9;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-color: transparent;
  cursor: pointer;
}

.reviews .random-btn:hover {
  background: #49a6e9;
  color: #063251;
}

.birthday {
  background: #f28ab2;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.birthday__container {
  width: 90vw;
  max-width: 450px;
  background: #fff;
  margin: 5rem 0;
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
}

.birthday__container h3 {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 2rem;
}

.birthday--person {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-column-gap: 0.75rem;
          column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.birthday--person img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.birthday--person h4 {
  margin-bottom: 0.35rem;
}

.birthday--person p {
  margin-bottom: 0;
}

.birthday__btn--clear {
  width: 100%;
  display: block;
  color: #fff;
  background: #f28ab2;
  border-color: transparent;
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.accordion {
  background: #4b145b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion__container {
  margin-top: 3rem;
  width: 80%;
  max-width: 920px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.25rem;
  margin: 5rem auto;
}

.accordion__info--left {
  width: 30%;
  padding: 2rem;
}

.accordion__info--left h2 {
  font-weight: 500;
}

.accordion__info--right {
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.question {
  border: 2px solid #d9d9d9;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
}

.question:last-child {
  margin-bottom: 0;
}

.question p {
  color: #324d67;
  margin: 0;
  margin-top: 0.5rem;
}

.question__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question__title h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

.question__title button {
  color: #e41a1a;
  background: #eae6eb;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 1rem;
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 2rem;
}

@media screen and (max-width: 800px) {
  .accordion__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .accordion__info--left {
    width: 100%;
  }
  .accordion__info--left h2 {
    text-align: center;
  }
}

.menu {
  background: #f1f5f8;
  color: #102a42;
}

.menu__container {
  padding-top: 7rem;
  width: 90vw;
  margin: 0 auto;
}

.menu__center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  gap: 3rem 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  display: -ms-grid;
  display: grid;
  grid-template: 1rem 2rem;
  max-width: 25rem;
}

.menu__item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
  border: 0.25rem solid #c59d5f;
  border-radius: 0.25rem;
  display: block;
  margin-bottom: 1rem;
}

.menu__item--info header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px dotted #617d98;
}

.menu__item--info header p {
  color: #c59d5f;
  font-weight: 500;
  margin-bottom: 0;
}

.menu__item--desc {
  margin-bottom: 0;
  padding-top: 1rem;
  color: #617d98;
}

.menu__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.menu__categories button {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: #c59d5f;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
}

.menu__categories button:hover {
  background: #c59d5f;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .menu__container {
    width: 95vw;
  }
  .menu__item {
    -ms-grid-columns: 225px 1fr;
        grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .menu__item img {
    height: 175px;
  }
}

@media screen and (min-width: 1024px) {
  .menu__center {
    width: 95vw;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .menu__item img {
    height: 150px;
  }
}

.tabs {
  background: #f1f5f8;
  color: #617d98;
  padding-top: 8rem;
}

.tabs .title {
  margin: 4rem auto;
}

.tabs .underline {
  background: #2caeba;
}

.tabs__container {
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
}

.tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs__header button {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  margin: 0 0.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 0.25 0rem;
  line-height: 1;
  outline-color: #e0fcff;
}

.tabs__header button:hover {
  color: #2caeba;
  -webkit-box-shadow: 0 2px #2caeba;
          box-shadow: 0 2px #2caeba;
}

.tabs__header .active-btn {
  color: #2caeba;
  -webkit-box-shadow: 0 2px #2caeba;
          box-shadow: 0 2px #2caeba;
}

.tabs__info h3 {
  font-weight: 400;
}

.tabs__info h4 {
  text-transform: uppercase;
  color: #617d98;
  background: #dae2ec;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.tabs__info--dates {
  letter-spacing: 0.1rem;
}

.tabs__info--duties {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.25rem;
}

.tabs__info--duties p {
  color: #324d67;
}

.tabs__info--icons {
  color: #2caeba;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 992px) {
  .tabs__container {
    width: 90vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 1fr;
        grid-template-columns: 200px 1fr;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .tabs__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .tabs__header button {
    margin-bottom: 2rem;
  }
  .tabs__header button:hover {
    -webkit-box-shadow: -2px 0 #2caeba;
            box-shadow: -2px 0 #2caeba;
  }
  .tabs__header .active-btn {
    -webkit-box-shadow: -2px 0 #2caeba;
            box-shadow: -2px 0 #2caeba;
  }
}

@-webkit-keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }
  10.5% {
    left: 0;
    top: 0;
  }
  12.5% {
    left: 32px;
    top: 0;
  }
  23% {
    left: 32px;
    top: 0;
  }
  25% {
    left: 64px;
    top: 0;
  }
  35.5% {
    left: 64px;
    top: 0;
  }
  37.5% {
    left: 64px;
    top: 32px;
  }
  48% {
    left: 64px;
    top: 32px;
  }
  50% {
    left: 32px;
    top: 32px;
  }
  60.5% {
    left: 32px;
    top: 32px;
  }
  62.5% {
    left: 32px;
    top: 64px;
  }
  73% {
    left: 32px;
    top: 64px;
  }
  75% {
    left: 0;
    top: 64px;
  }
  85.5% {
    left: 0;
    top: 64px;
  }
  87.5% {
    left: 0;
    top: 32px;
  }
  98% {
    left: 0;
    top: 32px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }
  10.5% {
    left: 0;
    top: 0;
  }
  12.5% {
    left: 32px;
    top: 0;
  }
  23% {
    left: 32px;
    top: 0;
  }
  25% {
    left: 64px;
    top: 0;
  }
  35.5% {
    left: 64px;
    top: 0;
  }
  37.5% {
    left: 64px;
    top: 32px;
  }
  48% {
    left: 64px;
    top: 32px;
  }
  50% {
    left: 32px;
    top: 32px;
  }
  60.5% {
    left: 32px;
    top: 32px;
  }
  62.5% {
    left: 32px;
    top: 64px;
  }
  73% {
    left: 32px;
    top: 64px;
  }
  75% {
    left: 0;
    top: 64px;
  }
  85.5% {
    left: 0;
    top: 64px;
  }
  87.5% {
    left: 0;
    top: 32px;
  }
  98% {
    left: 0;
    top: 32px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@-webkit-keyframes hue-rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.loading {
  position: relative;
  width: 96px;
  height: 96px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: hue-rotate 10s linear infinite both;
          animation: hue-rotate 10s linear infinite both;
}

.loading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  margin-top: 2rem;
}

.loading__square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 2px;
  background: #07a;
  background-image: linear-gradient(45deg, #fa0 40%, #0c9 60%);
  background-image: -moz-linear-gradient(#fa0, #fa0);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-animation: square-animation 10s ease-in-out infinite both;
          animation: square-animation 10s ease-in-out infinite both;
}

.loading__square:nth-of-type(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loading__square:nth-of-type(1) {
  -webkit-animation-delay: -1.42857s;
          animation-delay: -1.42857s;
}

.loading__square:nth-of-type(2) {
  -webkit-animation-delay: -2.85714s;
          animation-delay: -2.85714s;
}

.loading__square:nth-of-type(3) {
  -webkit-animation-delay: -4.28571s;
          animation-delay: -4.28571s;
}

.loading__square:nth-of-type(4) {
  -webkit-animation-delay: -5.71429s;
          animation-delay: -5.71429s;
}

.loading__square:nth-of-type(5) {
  -webkit-animation-delay: -7.14286s;
          animation-delay: -7.14286s;
}

.loading__square:nth-of-type(6) {
  -webkit-animation-delay: -8.57143s;
          animation-delay: -8.57143s;
}

.loading__square:nth-of-type(7) {
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

.slider {
  background: #f1f5f8;
}

.slider .title {
  bottom: 0;
  padding-top: 6rem;
}

.slider .title h3 {
  font-size: 2rem;
}

.slider .title h3 span {
  color: #ba5d2c;
  margin-right: 1.5rem;
}

.slider__container {
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__center {
  width: 80vw;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.slider img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #bcccdc;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.slider h4 {
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  color: #ba5d2c;
  font-size: 1rem;
}

.slider h5 {
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  color: #324d67;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.slider p {
  color: #617d98;
}

.slider__icons {
  font-size: 3rem;
  color: #ba5d2c;
}

.slider__btn--prev, .slider__btn--next {
  position: absolute;
  top: 150px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
  background: #324d67;
  border-radius: 0.25rem;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.slider__btn--prev {
  left: 0;
}

.slider__btn--next {
  right: 0;
}

.slider article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.slider article.activeSlide {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.slider article.nextSlide {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.slider article.lastSlide {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
/*# sourceMappingURL=style.css.map */