$spacing: 0.1rem;
$clr-blue: #5fa8d3;
$clr-grey-1: hsl(209, 61%, 16%);
$clr-grey-3: hsl(209, 34%, 30%);
$clr-grey-8: hsl(210, 31%, 80%);
$clr-grey-9: hsl(212, 33%, 89%);
$clr-grey-10: hsl(210, 36%, 96%);
$clr-green-5: #2caeba;
$clr-green-10: hsl(186, 100%, 94%);
$clr-blue-1: hsl(205, 86%, 17%);
$clr-blue-5: hsl(205, 78%, 60%);
$clr-blue-7: hsl(205, 90%, 76%);
$clr-blue-10: hsl(205, 100%, 96%);
$clr-grey: #d9d9d9;
$clr-grey-5: hsl(210, 22%, 49%);
$clr-grey-special: #eae6eb;
$clr-orange-5: hsl(21, 62%, 45%);
$clr-red: #e41a1a;
$clr-purple: #4b145b;
$clr-gold: #c59d5f;
$clr-white: #fff;
$clr-black: #222;
$clr-pink: #f28ab2;
$max-width: 1170px;
$transition: all 0.3s linear;
$transition-ease: all 0.3s ease;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
